/*Administration - Théo Luquet*/
:root {
    --gris-fonce: #212B38;
    --gris-clair: #37465B;
    --vert-fonce: #08C6AB;
    --vert-clair: #5AFFE7;
    --violet: #726EFF;
    --coins-sections: 10px;
    --coins-boutons: 25px;
    --police: 'Chakra Petch', sans-serif;
    width: 100vw;
    height: 100vh;
}

* {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: var(--police);
    color: white;
}

header {
    width: 100vw;
    height: 3vh;
    background-color: var(--gris-fonce);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hamburger {
    height: 100%;
    width: max-content;
}

.hamburger:active {
    background-image: linear-gradient(var(--gris-fonce), var(--gris-clair));
    border-top: 1px solid var(--gris-fonce);
    border-top-left-radius: var(--coins-boutons);
    border-top-right-radius: var(var(--coins-boutons));
}

nav {
    display: none;
}

main {
    width: 100vw;
    height: 93vh;
    position: fixed;
    top: 3vh;
    left: 0;
    overflow-y: scroll;
    background-color: var(--gris-clair);
    border-top: 2px solid var(--violet);
    border-bottom: 2px solid var(--violet);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main>section {
    flex-shrink: 0;
    width: 80vw;
    height: fit-content;
    margin: 20px;
    padding: 20px;
    background-color: var(--gris-fonce);
    box-shadow: 0 8px 8px var(--gris-fonce);
    border: 2px solid var(--vert-fonce);
    border-radius: var(--coins-sections);
    display: flex;
    flex-direction: column;
}

main>section>h3 {
    padding-bottom: 20px;
    color: var(--vert-clair);
    text-align: right;
}

ul {
    height: fit-content;
    padding: 10px;
    border-radius: var(--coins-sections);
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    list-style-type: disc;
    list-style-position: inside;
}

li {
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.windows {
    background-image: linear-gradient(var(--gris-fonce), rgba(0, 0, 0, 0)), url(../media/powershellbackdrop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.linux {
    background-image: linear-gradient(var(--gris-fonce), rgba(0, 0, 0, 0)), url(../media/bashbackdrop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

footer {
    width: 100vw;
    height: 4vh;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--gris-fonce);
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: smaller;
}

footer>div {
    padding: 0 20px 0 10px;
    min-width: 24px;
}

.icone-email {
    height: fit-content;
    width: fit-content;
    padding: 5px 0 0 10px;
}

.icone-telephone {
    height: fit-content;
    width: fit-content;
    padding: 5px 0 0 0;
}

.telephone {
    width: fit-content;
    padding-right: 0;
}

footer>:last-child {
    margin-left: auto;
    display: flex;
}


/*TABLETTE*/
@media screen and (min-width: 769px) and (max-width: 1999px) {
    header {
        height: 6vh;
    }

    .hamburger {
        display: none;
    }

    nav {
        height: 100%;
        background-color: var(--gris-fonce);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        font-weight: 300;
        font-size: x-large;
    }

    a {
        text-decoration: none;
    }

    nav>a {
        height: 100%;
        text-align: center;
        padding: 3vh 15px 3vh 15px;
        display: flex;
        align-items: center;
        justify-items: center;
    }

    nav>a:active {
        background-image: linear-gradient(var(--gris-clair), var(--gris-fonce));
        border-top: 2px solid var(--violet);
        border-top-left-radius: var(--coins-boutons);
        border-top-right-radius: var(--coins-boutons);
    }

    main {
        width: 100vw;
        height: 90vh;
        top: 6vh;
    }
}

/*ORDINATEUR*/
@media screen and (min-width: 1200px) {
    nav>a:hover {
        background-image: linear-gradient(var(--gris-fonce), var(--gris-clair));
        border-top: 1px solid var(--gris-fonce);
        border-top-left-radius: var(--coins-boutons);
        border-top-right-radius: var(--coins-boutons);
    }

    nav>a:active {
        background-image: linear-gradient(var(--gris-clair), var(--gris-fonce));
        border-top: 2px solid var(--violet);
        border-top-left-radius: var(--coins-boutons);
        border-top-right-radius: var(--coins-boutons);
    }

    main {
        width: 100vw;
        height: 90vh;
        overflow: hidden;
        flex-flow: row nowrap;
        justify-content: center;
        font-size: x-large;
    }

    main>section {
        width: 40vw;
        height: 70%;
        margin: 20px;
        padding: 20px;
        background-color: var(--gris-fonce);
        border: 2px solid var(--vert-fonce);
        border-radius: var(--coins-sections);
        display: flex;
        flex-direction: column;
        transition-duration: 100ms;
        transition-timing-function: ease-in-out;
    }

    main>section:hover {
        transform: scale(1.03);
        box-shadow: 0 16px 40px var(--gris-fonce);
    }

    .windows {
        background-size: contain;
    }
}